{% extends('HjAdminBundle::layout.html.twig') %}

{% block body %}
    {% for form in forms %}
        {{ form(form) }}
    {% endfor %}
    <div id="progressbar"><div class="progress-label">Loading...</div></div>
{% endblock %}